body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  background-image: url(/img/japanese-wave-wallpaper-background\ 1.svg);
    background-color: black;
    background-repeat: repeat-x;
    
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
header{
    display: flex;
    margin-top: 2vh;
}
.logo{
    position: relative;
    margin-left: 6vh;

}
.inf{
    display: flex;
    color: white;
    column-gap: 50px;
    position: relative;
    left: 82vh;
    font-family: 'Comme', sans-serif;
    font-size: 16px;
}
.home{
    cursor: pointer;
}
.sobre{
    cursor: pointer;
}
.cardapio{
    cursor: pointer;
}
.contato{
    cursor: pointer;
}

main{
    display: flex;
    background-repeat:repeat;
}
.img_p{
    margin-left: 6vh;
    margin-top: 6vh;
    display: grid;
}
.img_com{
    width: 74vh;
    position: relative;
    z-index: -1;
}
.icones{
    margin-top: -2vh;
    margin-left: 7vh;
    
}
.inf_g{
    position: relative;
    margin-top: 18vh;
    left: 50vh;
    font-size: 24px;
    font-family: 'Comme', sans-serif;
    
}

.inf_r_1{
    display: flex;
    gap: 8px;
    color: white;
}
.txt2{
    color: red;
}
.inf_r_2{
    display: flex;
    color: white;
    gap: 12px;
    margin-top:-56px;
}
.txt4{
    color: red;
}
.txt_p{
color: white;
font-size: 22px;
margin-top: -2.5vh;
}
.botoes{
    margin-top: 3vh;
    width: 65vh;
    cursor: pointer;
}
footer{
    background-image: url(./img/footer.png);
    margin-top: 38px;
    background-color: white;
    height: 10vh;
    background-repeat: repeat-x;

}

@media (max-width: 768px) {
    body{
        overflow: hidden;
    }
.logo{
    width: 15vh;
    margin-left: 2vh;

}
.inf{
    font-size: 7px;
    display: flex;
    color: white;
    column-gap: 7px;
    position: relative;
    left: 4vh;
    font-family: 'Comme', sans-serif;
}
.img_p{
    margin-left: 2vh;
    margin-top: 4vh;
    display: grid;
    width: 4px;

}
.icones{
    margin-top: 16vh;
    margin-left: -6vh;
    width: 15vh;
}
.img_p{
    margin-left: 14vh;
    margin-top: 10px;
}
.img_com{
    width: 350px;
    bottom: -120px;
    left: -8vh;
}
.botoes{
    width: 287px;
    position: relative;
    margin-left: 10px;
    margin-top: 2vh;
    margin-bottom: -18vh;
    
}
.inf_g{
    display: grid;
    row-gap: -1px;
    margin-left: -60vh;
    gap: -8px;

}
.inf_r_1{
    font-size: 16px;
    margin-top: -18vh;

}
.inf_r_2{
    font-size: 16px;
    margin-top: -24vh;
}
.txt_p{
    font-size: 16px;
   margin-top: -26vh;
}
footer{
    background-image: url(/img/footer.png);
    margin-top: 20vh;
    background-color: white;
    height: 16vh;
    background-repeat: repeat-x;

}
}
@media (max-width: 768px){
    body{
        overflow: hidden;
    }
.logo{
    width: 20vh;
    margin-left: 2vh;

}
.inf{
    font-size: 7px;
    display: flex;
    color: white;
    column-gap: 7px;
    position: relative;
    left: 4vh;
    font-family: 'Comme', sans-serif;
}
.img_p{
    margin-left: 2vh;
    margin-top: 4vh;
    display: grid;
    width: 4px;

}
.icones{
    margin-top: 16vh;
    margin-left: -6vh;
    width: 15vh;
}
.img_p{
    margin-left: 14vh;
    margin-top: 10px;
}
.img_com{
    width: 35000px;
    bottom: -120px;
    left: -8vh;
}
.botoes{
    width: 287px;
    position: relative;
    margin-left: 10px;
    margin-top: 2vh;
    margin-bottom: -18vh;
    
}
.inf_g{
    display: grid;
    row-gap: -1px;
    margin-left: -60vh;
    gap: -8px;

}
.inf_r_1{
    font-size: 16px;
    margin-top: -18vh;

}
.inf_r_2{
    font-size: 16px;
    margin-top: -24vh;
}
.txt_p{
    font-size: 16px;
   margin-top: -26vh;
}
footer{
    background-image: url(/img/footer.png);
    margin-top: 20vh;
    background-color: white;
    height: 16vh;
    background-repeat: repeat-x;

}
}