body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  background-image: url(/img/japanese-wave-wallpaper-background\ 1.svg);
    background-color: black;
    background-repeat: repeat-x;
    
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
header{
    display: flex;
    margin-top: 2vh;
}
.logo{
    position: relative;
    margin-left: 6vh;

}
.inf{
    display: flex;
    color: white;
    column-gap: 50px;
    position: relative;
    left: 82vh;
    font-family: 'Comme', sans-serif;
    font-size: 16px;
}
.home{
    cursor: pointer;
}
.sobre{
    cursor: pointer;
}
.cardapio{
    cursor: pointer;
}
.contato{
    cursor: pointer;
}

main{
    display: flex;
    background-repeat: repeat-x, repeat-y;
}
.img_p{
    margin-left: 6vh;
    margin-top: 6vh;
    display: grid;
}
.img_com{
    width: 74vh;
    position: relative;
    z-index: -1;
}
.icones{
    margin-top: -2vh;
    margin-left: 7vh;
    
}
.inf_g{
    position: relative;
    margin-top: 18vh;
    left: 50vh;
    font-size: 24px;
    font-family: 'Comme', sans-serif;
    
}

.inf_r_1{
    display: flex;
    gap: 8px;
    color: white;
}
.txt2{
    color: red;
}
.inf_r_2{
    display: flex;
    color: white;
    gap: 12px;
    margin-top:-56px;
}
.txt4{
    color: red;
}
.txt_p{
color: white;
font-size: 22px;
margin-top: -2.5vh;
}
.botoes{
    margin-top: 3vh;
    width: 65vh;
    cursor: pointer;
}
footer{
    background-image: url(img/footer.png);
    margin-top: 38px;
    background-color: white;
    height: 10vh;
    background-repeat: repeat-x;

}
